// Navigation code here
.nav {
    h1 {
        font-size: 4rem;
    }
    background: @porcelain;
    a {
        text-decoration: none;
        margin-right: 20px;
        margin-left: 20px;
        text-decoration: none;
        text-color: @ebony-clay;
    }
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    max-width: 1000px;
    padding: 1%;
    .navigation {
        display: flex;
        font-size: 1.5rem;
        padding-top: 1.5%;
    }
}